<article class="contenedor-contact-page">
    <h1>Información de contacto</h1>
    <div class="contenedor-inf-autor">
        <img src="assets/imagen.jpg" alt="foto-j" width="300px" class="img-perfil-contact-page">
        <div style="padding: 1rem;">
            <h4>Jaaziel Jimenez Miguel</h4>
            <p>Egresado de la Universidad Áutonoma Chapingo,
               donde realizó sus estudios de licenciatura en la carrera de Ingeniería Mecatrónica Agrícola,
               actualmente se dedica al desarrollo de software.
            </p>
            <div class="contenedor-btn-contact-page">
                <p-button label="Sitio web" outlined="true" icon="pi pi-google" severity="secondary" />
                <p-button label="LinkedIn" outlined="true" icon="pi pi-linkedin" severity="info" />

            </div>
        </div>
    </div>

</article>