.card-grafica {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  /* Añadir un borde para separar el contenido del entorno */
  border-radius: 5px;
  /* Añadir esquinas redondeadas para un aspecto más suave */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  max-width: 100%;
}

@media (max-width: 600px) {
  .card-grafica {
    width: 90vw;
  }
}
