.container-edit-modal {
    display: flex;
    flex-direction: column;
}
.formPoints {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
}

.container-edit-modal > p-button {
    align-self: flex-end;
}