<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/icon.svg" alt="logo" style="height: 30px">
        <h1 class="navbar-title">Carta Psicrometrica</h1>
    </div>
    <div class="navbar-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="navbar-items" [ngClass]="{'open': menuOpen}">
        <li class="navbar-item">
            <a [routerLink]="['/home']">
                <i class="pi pi-home"></i>
                Inicio
            </a>
        </li>
        <li class="navbar-item">
            <a [routerLink]="['/about']">
                <i class="pi pi-question-circle"></i>
                Acerca de
            </a>
        </li>
        <li class="navbar-item">
            <a [routerLink]="['/contact']">
                <i class="pi pi-wrench"></i>
                Ayuda
            </a>
        </li>
        <li class="navbar-item">
            <a [routerLink]="['/contact']">
                <i class="pi pi-envelope"></i>
                Contacto
            </a>
        </li>
    </ul>
</nav>