.panel {
  border: solid 1px #9a9a9a;
}

.formPoints {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
}
.color-picker-container {
  width: 244px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 10px;
  border: solid 1px #c0c0c0;
}

.bton {
  background: linear-gradient(90deg, #19bf19, #ebddf7);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(90deg, #155aa8, #570b9b);
  }
}
