<p-panel [toggleable]="true" header="Altitud" [collapsed]="true" [style]="{width: '300px'}">
    <h2 style="font-size: 12px;">Ingrese el valor de la altitud <span>(msnm)</span> para realizar la
        carta psicrómetrica.</h2>

    <hr />
    <form style="margin-top: 2rem;" [formGroup]="formAlt">
        <p-floatLabel>
            <input pInputText id="altitud" name="altitud" formControlName="altitud" class="border" />
            <label for="altitud">Altitud</label>
        </p-floatLabel>
    </form>

    <p-button label="Calcular" [outlined]="true" [style]="{ padding: '0.25rem', marginTop: '1rem', marginLeft: 'auto' }"
        (onClick)="calcular()" [disabled]="formAlt.invalid" />

</p-panel>

<div style="margin-top: 1rem;">
    <p-panel [toggleable]="true" header="Diferentes Puntos" [collapsed]="true" [style]="{width: '300px'}">
        <h2 style="font-size: 12px;">Ingrese el valor de la temperatura de bulbo seco y humedad relativa para calcular
            los datos.</h2>

        <hr />
        <form [formGroup]="formPoints" class="formPoints">
            <p-floatLabel>
                <input pInputText id="tbs" name="tbs" formControlName="tbs" class="border" [style]="{width: '100%'}"/>
                <label for="tbs">Temperatura Bulbo Seco °C</label>
            </p-floatLabel>
            <p-floatLabel>
                <input pInputText id="hr" name="hr" formControlName="hr" class="border" [style]="{width: '100%'}"/>
                <label for="hr">Humedad Relativa %</label>
            </p-floatLabel>
            <div class="color-picker-container">
                <p-colorPicker formControlName="color"/>
                <span>{{ color }}</span>
            </div>
        </form>

        <p-button label="Agregar" [outlined]="true"
            [style]="{ padding: '0.25rem', marginTop: '1rem', marginLeft: 'auto' }" (onClick)="calcularPuntos()"
            [disabled]="formPoints.invalid" />

    </p-panel>
</div>
<div style="margin-top: 1rem;">
    <p-panel [toggleable]="true" header="Anexar archivos" [collapsed]="true" >
        <h2 style="font-size: 12px;">Agregue un archivo <code>.txt</code> y grafica los datos de temperatura del bulbo seco y humedad relativa.</h2>

        <hr />
        
        <app-subir-archivos ></app-subir-archivos>
        <p-button label="Agregar" [outlined]="true"
            [style]="{ padding: '0.25rem', marginTop: '1rem', marginLeft: 'auto' }" (onClick)="calcularPuntos()"
            [disabled]="formPoints.invalid" />

    </p-panel>
</div>