
<div class="container-upload" (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)" >
    @if(!uploadedFile) {
         
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" [attr.stroke]="color().icon" [attr.fill]="color().icon">
            <path
                d="m12 12.586l4.243 4.242l-1.415 1.415L13 16.415V22h-2v-5.587l-1.828 1.83l-1.415-1.415zM12 2a7 7 0 0 1 6.954 6.194A5.5 5.5 0 0 1 18 18.978V17a6 6 0 0 0-11.996-.225L6 17v1.978a5.5 5.5 0 0 1-.954-10.784A7 7 0 0 1 12 2" />
        </svg>
        <button (click)="openFileDialog()">Browse Files</button>
    }

    @if (uploadedFile) {
        <div class="uploaded-file">
        <p>Archivo cargado:</p>
        <p class="file-name">{{ uploadedFile.name }}</p>
        <button (click)="removeFile()">Eliminar archivo</button>
    </div>
    }
    
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" />
</div>